p{
	margin: 0;
	padding: 0;
}
img{
	border-radius: 5%;
	border: 1px solid gray;
	width: 100%;
	float:left;
}
.container{

	
}

.row {
	width: 800px;
	/*border: 1px solid black;*/
}

.indv-result {
	height: 20%;
	/*border: 1px solid black;*/
	margin-bottom: 50px;
}