p{
	margin: 0;
	padding: 0;
}
img{
	border-radius: 5%;
	border: 1px solid gray;
	width: 80%;
}
.container{

	
}

.row {
	border: 1px solid black;
}

.indv-result {
	height: 20%;
	border: 1px solid black;
}